:root {
  --main-color: #02c1cc;
  --heading-font-family: "DynaPuff", system-ui;
  --text-font-family: "Onest", sans-serif;
}

body {
  font-family: var(--text-font-family);
}

header img {
  margin: 20px 30px;
}

header nav {
  font-size: 25px;
}

header .hero {
  background-color: var(--main-color);
  padding: 200px 80px;
  margin-bottom: 30px;
}

header h1 {
  text-align: center;
  font-size: 60px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
}

header .hero ul {
  margin-top: 40px;
  padding: 0;
  line-height: 2.5;
  text-align: center;
  font-size: 25px;
}

header li {
  list-style: none;
}

header button {
  border-radius: 6px;
  border: 2px solid #000;
  padding: 20px 35px;
  color: #fff;
  background-color: #000;
  font-size: 20px;
  margin: 50px auto 0;
  display: block;
  transition: all 250ms ease-in-out;
}

header button:hover {
  background-color: var(--main-color);
  color: #000;
}

main {
  font-size: 20px;
}

main h4 {
  text-align: left;
  font-size: 25px;
}

.container {
  margin: 30px auto;
  padding: 0 auto;
  text-align: center;
  max-width: 1500px;
}

main .project-intro {
  margin: 80px auto;
  line-height: 37px;
}

main .project-definition {
  padding: 30px 25px;
  text-align: left;
}

main .expop-name {
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-color: var(--main-color);
}

footer {
  padding: 40px 40px;
  margin-top: 20px;
  text-align: center;
  background-color: rgba(164, 176, 176, 0.969);
}

@media (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
}
