:root {
  --main-color: #02c1cc;
  --heading-font-family: "DynaPuff", system-ui;
  --text-font-family: "Onest", sans-serif;
}

body {
  font-family: var(--text-font-family);
}

nav {
  padding: 10px 300px;
  position: fixed;
  background-color: #fff;
  width: 100%;
}

nav .home-link {
  color: var(--main-color);
}

nav a {
  text-decoration: none;
  color: #000;
  transition: all 250ms ease-in-out;
}

nav a:hover {
  color: var(--main-color);
}

nav ul {
  padding: 40px 0 0;
  margin: 0;
}

nav li {
  list-style: none;
  display: inline;
  font-size: 18px;
  margin-left: 30px;
}

nav .logo {
  max-height: 95px;
}

header .hero {
  background-color: var(--main-color);
  padding: 225px 0 100px;
  margin-bottom: 30px;
}

header h1 {
  text-align: center;
  font-size: 40px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
}

header .hero ul {
  margin-top: 40px;
  padding: 0;
  line-height: 2.5;
  text-align: center;
  font-size: 20px;
}

.hero li {
  list-style: none;
}

header button {
  border-radius: 6px;
  border: 2px solid #000;
  padding: 20px 35px;
  color: #fff;
  background-color: #000;
  font-size: 15px;
  margin: 50px auto 0;
  display: block;
  transition: all 250ms ease-in-out;
}

header button:hover {
  background-color: var(--main-color);
  color: #000;
}

main {
  font-size: 15px;
}

main h4 {
  text-align: left;
  font-size: 20px;
}

.container {
  margin: 30px auto;
  padding: 0 30px;
  text-align: center;
}

main .project-intro {
  margin: 80px auto;
  line-height: 28px;
}

main .project-definition {
  margin: 10px;
  padding: 30px;
  text-align: left;
  line-height: 26px;
}

.project-definition a {
  color: var(--main-color);
  text-decoration: none;
}

.project-definition a:hover {
  text-decoration: underline;
}

main .expop-name {
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-color: var(--main-color);
}

.project-highlight h4 {
  margin-bottom: 20px;
}

footer {
  padding: 40px 40px;
  margin-top: 20px;
  text-align: center;
  background-color: rgba(164, 176, 176, 0.969);
}

@media (max-width: 1000px) {
  nav {
    padding: 0 10px;
  }

  nav ul {
    padding: 10px;
    margin: 0 auto;
  }

  nav li {
    font-size: 15px;
  }

  h1 {
    font-size: 35px;
  }

  main .exhibitions img {
    margin-bottom: 20px;
  }
}
