header img {
  margin: 20px 30px;
}

header .intro {
  background-color: #02c1cc;
  padding: 60px;
  margin-bottom: 20px;
}

header h1 {
  text-align: center;
  font-family: "Onest", sans-serif;
  font-weight: bold;
}

header ul {
  margin: O;
  padding: 0;
}

header li {
  list-style: none;
}

footer {
  padding: 40px 40px;
  margin-top: 20px;
  text-align: center;
  background-color: rgba(164, 176, 176, 0.969);
}

.container {
  margin: 0 auto;
  padding: 0 auto;
}

.wrapper {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
